name: .NET Core Desktop

on:
  push:
    paths-ignore:
      - README.md
  workflow_dispatch:

jobs:
  cli:
    name: cli
    runs-on: ubuntu-latest
    
    env:
      APP_NAME: stalker-gamma-gui
      PROJECT_FOLDER: stalker-gamma.cli
      PROJECT_NAME: stalker-gamma.cli.csproj
      CONFIGURATION: Release
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          
      - name: Install Ubuntu dependencies
        run: |
          sudo apt-get update
          sudo apt-get install build-essential pkg-config cmake ninja-build curl autoconf automake libtool
          sudo apt-get install gcc-aarch64-linux-gnu gcc-arm-linux-gnueabihf gcc-riscv64-linux-gnu
          sudo apt-get install golang-go
          sudo apt-get install libcurl4-openssl-dev

      - name: Install .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
          
      - name: Make Build
        run: make patch-makefile -C build/linux && make build -C build/linux && make archive -C build/linux
        
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-latest-build
          path: build/linux/stalker-gamma-cli.tar.xz

  cli-macos:
    name: cli-macos
    runs-on: macos-latest
    env:
      APP_NAME: stalker-gamma-gui
      PROJECT_FOLDER: stalker-gamma.cli
      PROJECT_NAME: stalker-gamma.cli.csproj
      CONFIGURATION: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Install macOS dependencies
        run: |
          brew install make cmake ninja automake libtool go

      - name: Install .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Make Build
        run: make build -C build/mac && make archive -C build/mac

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: macos-latest-build
          path: build/mac/stalker-gamma-cli.tar.xz

  cli-windows:
    name: cli-windows
    runs-on: windows-latest
    env:
      APP_NAME: stalker-gamma-gui
      PROJECT_FOLDER: stalker-gamma.cli
      PROJECT_NAME: stalker-gamma.cli.csproj
      CONFIGURATION: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build CLI
        run: build/win/build.bat

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: windows-latest-build
          path: build/windows/stalker-gamma-cli.7z

  gui:
    name: gui
    runs-on: windows-latest

    env:
      APP_NAME: stalker-gamma-gui
      PROJECT_FOLDER: stalker-gamma-gui
      PROJECT_NAME: stalker-gamma-gui.csproj
      CONFIGURATION: Release

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Run Csharpier
        run: |
          dotnet tool restore
          dotnet csharpier check .
              
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0
        with:
          versionSpec: "5.x"

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0

      - name: Restore the application
        run: dotnet restore -r win-x64

      - name: Publish
        run: |
          dotnet publish ${{ env.PROJECT_FOLDER}}/${{ env.PROJECT_NAME }} `
          -c ${{ env.CONFIGURATION }} `
          -r win-x64 `
          -p:Version=${{ steps.gitversion.outputs.SemVer }} `
          -p:AssemblyVersion=${{ steps.gitversion.outputs.AssemblySemFileVer }} `
          -o bin

      - name: Publish Updater
        run: |
          dotnet publish stalker-gamma.updater/stalker-gamma.updater.csproj `
          -c ${{ env.CONFIGURATION }} `
          -r win-x64 `
          -p:Version=${{ steps.gitversion.outputs.SemVer }} `
          -p:AssemblyVersion=${{ steps.gitversion.outputs.AssemblySemFileVer }} `
          -o bin

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4.3.1
        with:
          name: "${{ env.APP_NAME }}.${{ steps.gitversion.outputs.semVer }}"
          compression-level: '9'
          path: |
            bin/**
            !bin/**/*.pdb

  
    